{% extends "base.html" %}

{% block title %}| About{% endblock title %}

{% block scripts %}

{% endblock scripts %}

{% block content %}

<header class=" py-5" style="background-color: rgba(125, 3, 177, 0.91);">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About DairyMart</h1>
      <p class="lead fw-normal text-white-50 mb-4">
        Dairy Mart delivers fresh, quality dairy from local farms to your door. 
        We're committed to convenience and customer satisfaction.
      </p>
        <p>
          <a class="text-decoration-none text-white border rounded p-3" 
          href="#" 
          >DairyMart</a>
        </p>
    </div>
  </div>
</header>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead">Welcome to Dairy Mart, your online source for fresh dairy. 
            We make it easy to access quality dairy with convenient online ordering and scheduled
            deliveries. Enjoy the comfort of shopping from home and receiving products at their 
            peak freshness. 
            We aim to simplify your life with the best dairy available.</p>
          
          <p>&#42; <small>We're passionate about dairy at Dairy Mart. 
            We work with local farms to bring you the freshest, most delicious 
            products. Our goal is to make it easy for you to enjoy the best dairy, 
            delivered straight to your home.</small></p>
        </div>
    </div>
</div>

{% endblock content %}
